*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url("/img/capa-house.jpg");
    height: 300px;
    background-size: cover;
}
header .container {    
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    
}

.container {
    
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.6) 0,rgba(0,0,0,0) 85%);
    float: left;
    width: 100%;
    height: 80px; 
  }
  header h5 {
      color: #e50914;
      font-size: 30px;
      margin-left: 50px;
      font-family: 'Arial Black', Times;
  }

  header a{
      color: white;
      text-decoration: none;
      margin-right: 10px;
  }

  .navigation{
      margin-right: 40px;
  }

  /*filme capa*/

  .filme-principal {
      font-size: 14px;
      margin-left: 50px;
  }

  .filme-principal .descricao1 {
    font-family: 'Netflix Sans','Helvetica Neue', Helvetica,Arial,sans-serif;
    margin-bottom: 10px;
    font-size: 1.4vw;
    color: white;
}

  .filme-principal .descricao2 {
    font-size: 1.4vw;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-bottom: 20px;
    width: 400px;     
    color: white;
}

  .title img {
    width: 600px;
    margin-top: 30px;
    font-size: 50px;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

/* estilização dos botoes */

.botao1 {
    background-color:#fff;
    
    border: none;
    border-radius: 3px;
    color: black;
    padding: 12px 30px;
    margin-right: 8px;
    font-size: 16px;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: bold;
    
    cursor: pointer;
    transition: 1s ease all;
}



.botoes i {
    margin-right: 5px;
    
}


.botao2 {
    background-color:rgb(97, 96, 96);
    
    border: none;
    border-radius: 3px;
    color: white;
    padding: 12px 30px;
    margin-right: 20px;
    font-size: 16px;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: 1s ease all;
}

.botao1:hover {
    background-color: gray;
    color: white;     
}

.botao2:hover {
    background-color: white;
    color: black;     
}

.botao-volume  {
    padding: 8px 8px;
       
}

.botao-classificacao {
    background-color: #e50914;
    
    border: none;
    border-radius: 3px;
    color: white;
    padding: 8px 8px;
    margin-right: 20px;
    font-size: 16px;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: bold;
}

/*estilização do carrosel*/
.carrosel-filmes {
    margin-top: 120px;
    margin-left: 50px;
    
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 8px;
}



.carrosel-filmes h3 {
    
    margin-bottom: 10px;
    color: white;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}